<!DOCTYPE html>
<html>
    <body>
        <template id="main-nav-template">
            <nav class="main-nav">
            <ul>
                <li><a href="./home.html" class="nav-link">Home</a></li>
                <li><a href="./profile.html" class="nav-link">Profile</a></li>
                <li><a href="./events.html" class="nav-link">Events</a></li>
                <li><a href="./event-add.html" class="nav-link">Add</a></li>
                <li><a href="./event-list.html" class="nav-link">List</a></li>
                <li><a href="../register.html" class="nav-link" id="log-out">Log Out</a></li>
            </ul>
            </nav>
        </template>

        <template id="main-footer-template">
            <footer class="main-footer">
                <address>
                    <p>Contact Webmaster: <a href="mailto:email" id="email">email</a></p>
                    <p>&copy; 2026 BandLife</p>
                </address>
            </footer>
        </template>
    </body>
</html>
