USE [master]
GO
/****** Object:  Database [bandlife_database]    Script Date: 8/12/2026 5:44:53 PM ******/
CREATE DATABASE [bandlife_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bandlife_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bandlife_database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bandlife_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bandlife_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bandlife_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bandlife_database]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/12/2026 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 8/12/2026 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Options] [nvarchar](max) NOT NULL,
	[Outcomes] [nvarchar](max) NOT NULL,
	[BandIncome] [nvarchar](max) NOT NULL,
	[Job] [nvarchar](max) NOT NULL,
	[JobIncome] [nvarchar](max) NOT NULL,
	[Listeners] [nvarchar](max) NOT NULL,
	[Members] [nvarchar](max) NOT NULL,
	[Popularity] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/12/2026 5:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Band] [nvarchar](max) NOT NULL,
	[Instrument] [nvarchar](max) NOT NULL,
	[Genres] [nvarchar](max) NOT NULL,
	[Events] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Members] [int] NOT NULL,
	[BandIncome] [int] NOT NULL,
	[Job] [nvarchar](max) NOT NULL,
	[JobIncome] [int] NOT NULL,
	[Listeners] [int] NOT NULL,
	[Popularity] [nvarchar](max) NOT NULL,
	[Releases] [nvarchar](max) NOT NULL,
	[JobStart] [datetimeoffset](7) NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'[]') FOR [BandIncome]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'[]') FOR [Job]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'[]') FOR [JobIncome]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'[]') FOR [Listeners]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'[]') FOR [Members]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'[]') FOR [Popularity]
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT (N'') FOR [Category]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Events]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'[]') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Members]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [BandIncome]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Job]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [JobIncome]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Listeners]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Popularity]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'[]') FOR [Releases]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Name]
GO
USE [master]
GO
